@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

body {
  font-family: 'Playfair Display', serif;
  color: #040415;
}

:root {
  --color-dark: #040415;
  --color-gray: #404415;
  --color-blue: #3b3bad;
  --color-light: #f9f9f9;
}

.header {
  background-color: var(--color-blue);
  color: var(--color-light);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  margin: 100px 0;
}

.wide {
  width: 100%;
}

.tight {
  width: 90%;
  max-width: 1000px;
}

.container {
  max-width: 640px;
  margin: 0 auto;
}

.container.grid {
  display: grid;
}

#hero-container {
  margin-top: 3rem;
  z-index: 2;
  grid-column: col / span 2;
  grid-row: row;
}

#hero-image {
  grid-column: col 2 / span 2;
  grid-row: row;
}

#hero-image {
  position: relative;
  height: 40rem;
}

#hero-image > button {
  position: absolute;
  bottom: 0;
  left: 0;
}

.title {
  font-size: 5rem;
}

button {
  padding: 1rem;
  border-radius: 0;
  color: black;
  font-weight: bold;
  background-color: white;
}

.room-section {
  display: flex;
  align-items: center;
}

.room-list {
  list-style-type: none;
  padding: 0;
  width: 50%;
}

.room-list li {
  font-size: 4vw;
  cursor: pointer;
  padding: 10px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.room-list li:hover,
.room-list li.active {
  transform: translateX(20px);
  color: gray;
}

.image-container {
  margin-left: 20px;
  width: 50%;
}

.image-container img {
  width: 100%;
  height: auto;
}

.footer {
  background-color: var(--color-dark);
  color: var(--color-light);
}

.button {
  background-color: var(--color-gray);
  color: var(--color-light);
}

.button:hover {
  background-color: var(--color-blue);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0px;
}

.glide__slides img {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1050px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.grid-item {
  position: relative;
  padding-top: 100%;
  background-color: #f0f0f0;
  border: 2px solid var(--color-blue);
  margin: -1px;
  z-index: 1;
}

.grid-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

p {
  color: #040415;
}

a {
  color: #3b3bad;
}

a:hover {
  color: #404415;
}

.bold {
  font-weight: 700;
}

.regular {
  font-weight: 400;
}
