@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Playfair Display', serif;
}

h1 {
  font-size: clamp(1.5rem, 5vw, 3rem);
}

h2 {
  font-size: clamp(1.25rem, 4vw, 2.5rem);
}

h3 {
  font-size: clamp(1.125rem, 3.5vw, 2rem);
}

p,
.body-text {
  font-size: clamp(1rem, 2.5vw, 1.5rem);
}

.small-text {
  font-size: clamp(0.875rem, 2vw, 1.25rem);
}

.nav-link,
.button {
  font-size: clamp(0.9rem, 2.5vw, 1.25rem);
}

.footer-text {
  font-size: clamp(0.75rem, 2vw, 1rem);
}
.navbar {
  background-color: #f9f9f9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.navbar-logo {
  font-weight: 700;
  font-size: 1.5rem;
}

.nav-items {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.nav-item {
  padding: 0.5rem 0;
  color: #040415;
  text-decoration: none;
  font-size: 1rem;
}

.nav-item:hover {
  color: #3b3bad;
}

.footer {
  background-color: #333;
  color: #f5f5f5;
  font-size: 0.9em;
  flex-shrink: 0;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  align-items: top;
}

.footer-section {
  flex: 1;
  min-width: 150px;
}

.footer-section h3 {
  color: #fff;
  margin-bottom: 10px;
}

.footer-section a {
  color: #f5f5f5;
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
}

.footer-bottom {
  text-align: center;
  padding: 10px;
  border-top: 1px solid #444;
}

@media (max-width: 600px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
  }
  .footer-section {
    margin-bottom: 20px;
  }
}

.admin_activity_img {
  max-width: 200px;
}
